/* .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px; 
    height: auto;
    margin-right: 10px;
  }
  
  .logo-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 37.74px;
    font-weight: 800;
    color: #7E22CE;
  }
  
  .icons {
    display: flex;
    align-items: center;
    gap: 20px; 
  }
  
  .icon img {
    width: 30px;
    height: 30px;
  }
  
   */



   
   .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: fixed; /* Fixed position to stay visible */
    width: 100%; /* Full width of the page */
    top: 0; /* Align to the top of the page */
    z-index: 1000; /* Set a higher z-index */
    /* background-color: #333; Set background color */
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 40px; /* Adjust as necessary */
    height: auto;
    margin-right: 10px;
  }
  
  .logo-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 37.74px;
    font-weight: 800;
    color: #7E22CE;
  }
  
  .icons {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap between icons */
  }
  
  .icon img {
    width: 30px; /* Adjust the size as necessary */
    height: 30px;
  }
  