.upload-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure it takes the full height of the viewport */
  }
  
  .sidebar {
    width: 250px; /* Adjust the width of the sidebar */
  }
  
  .content {
    flex-grow: 1;
    padding-left: 250px; /* Ensure content is pushed to the right of the sidebar */
    padding-top: 60px; /* Adjust padding to account for the navbar height */
    position: relative; /* Ensure position for absolute positioning of UploadFile */
  }
  
  .upload-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .upload-file {
    position: fixed;
    bottom: 20px; /* Position above the bottom */
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px; /* Maximum width */
    padding: 20px; /* Adjust padding */
    border-radius: 10px; /* Rounded corners */
    z-index: 1000; /* Ensure it appears above other content */
  }
  